.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h3.titulo__prueba{
    color: aqua;
    text-align: center;
    display: flex;
    justify-content: center;
}

h3.titulo__prueba:hover{
    color: coral;
}

a.titulo__producto{
    text-decoration:none;
}

img.img__categorie{
    transition: transform .2s;
}

img.img__categorie:hover{
    transform: scale(1.05);
}

.carousel#carouselExampleControls{
    height: 100%;
}
