.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h3.titulo__prueba{
    font-weight: bold;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
}

h3.titulo__prueba:hover{
    color: red;
}

a.titulo__producto{
    text-decoration:none;
}

img.img__categorie{
    transition: transform .2s;
}

img.img__categorie:hover{
    transform: scale(1.05);
}

div.card__product{
    transition: transform .2s;
}

div.card__product:hover{
    border-width: 2px;
    border-color: red;
}

.section--hero {
 padding:  10;
 position: relative;
 min-height: 28vh;
 background-size: cover;
 background-position: center;
}

